USE [master]
GO
/****** Object:  Database [NewTechnologi]    Script Date: 30.11.2025 0:48:54 ******/
CREATE DATABASE [NewTechnologi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewTechnologi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NewTechnologi.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewTechnologi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NewTechnologi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewTechnologi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewTechnologi]
GO
/****** Object:  Table [dbo].[Material$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Material] [varchar](50) NOT NULL,
	[ID_material_type] [int] NOT NULL,
	[ID_provider] [int] NOT NULL,
	[Quantity_per_package] [float] NOT NULL,
	[ID_unit_measurement] [int] NOT NULL,
	[cost] [float] NOT NULL,
	[Quantity_stock] [float] NOT NULL,
 CONSTRAINT [PK_Material$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
	[Percentage_defective_material] [float] NULL,
 CONSTRAINT [PK_Material_type$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_request$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_request$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_partners] [int] NOT NULL,
	[Cost] [float] NULL,
	[DateApplication] [date] NOT NULL,
 CONSTRAINT [PK_Partner_products_request$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name_partners] [varchar](100) NOT NULL,
	[ID_Type_partners] [int] NOT NULL,
	[FamilDr] [varchar](100) NOT NULL,
	[NameDr] [varchar](100) NOT NULL,
	[OtchestvoDr] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Partner_egal_address] [varchar](255) NOT NULL,
	[INN] [float] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Partners$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name_products] [varchar](100) NOT NULL,
	[ID_Type_products] [int] NOT NULL,
	[Article] [float] NOT NULL,
	[Minimum_cost_partner] [float] NOT NULL,
 CONSTRAINT [PK_Products$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_Application]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_Application](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_partner_request] [int] NOT NULL,
	[ID_products] [int] NOT NULL,
	[Number_products] [int] NOT NULL,
 CONSTRAINT [PK_ProductsIn_Application] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products_in_materials]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products_in_materials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_products] [int] NOT NULL,
	[ID_material] [int] NOT NULL,
	[RequiredQuantity] [float] NULL,
 CONSTRAINT [PK_Products_in_materials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name_provider] [varchar](100) NOT NULL,
	[INN] [float] NOT NULL,
	[ID_type_provider] [int] NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_partners$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_partners$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Type_partners$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_products$]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_products$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[Product_type_coefficient] [float] NOT NULL,
 CONSTRAINT [PK_Type_products$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_provider]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_provider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Type_provider] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit_measurement]    Script Date: 30.11.2025 0:48:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_measurement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Unit_measurement_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Unit_measurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material$] ON 

INSERT [dbo].[Material$] ([ID], [Material], [ID_material_type], [ID_provider], [Quantity_per_package], [ID_unit_measurement], [cost], [Quantity_stock]) VALUES (1, N'Ламинат', 1, 1, 45, 1, 499.99, 5047)
INSERT [dbo].[Material$] ([ID], [Material], [ID_material_type], [ID_provider], [Quantity_per_package], [ID_unit_measurement], [cost], [Quantity_stock]) VALUES (2, N'Глянец', 2, 2, 32, 1, 754.78, 854)
INSERT [dbo].[Material$] ([ID], [Material], [ID_material_type], [ID_provider], [Quantity_per_package], [ID_unit_measurement], [cost], [Quantity_stock]) VALUES (3, N'Краска', 3, 3, 43, 3, 201.99, 124)
SET IDENTITY_INSERT [dbo].[Material$] OFF
GO
SET IDENTITY_INSERT [dbo].[Material_type$] ON 

INSERT [dbo].[Material_type$] ([ID], [Type], [Percentage_defective_material]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Material_type$] ([ID], [Type], [Percentage_defective_material]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Material_type$] ([ID], [Type], [Percentage_defective_material]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Material_type$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_request$] ON 

INSERT [dbo].[Partner_products_request$] ([ID], [ID_partners], [Cost], [DateApplication]) VALUES (1, 1, 4160000, CAST(N'2025-11-29' AS Date))
INSERT [dbo].[Partner_products_request$] ([ID], [ID_partners], [Cost], [DateApplication]) VALUES (2, 2, 7507500, CAST(N'2025-11-07' AS Date))
INSERT [dbo].[Partner_products_request$] ([ID], [ID_partners], [Cost], [DateApplication]) VALUES (3, 3, 5106301.68, CAST(N'2024-11-07' AS Date))
SET IDENTITY_INSERT [dbo].[Partner_products_request$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners$] ON 

INSERT [dbo].[Partners$] ([ID], [Name_partners], [ID_Type_partners], [FamilDr], [NameDr], [OtchestvoDr], [Email], [Phone], [Partner_egal_address], [INN], [Rating]) VALUES (1, N'Стройдвор', 1, N'Андреева ', N'Ангелина ', N'Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 4)
INSERT [dbo].[Partners$] ([ID], [Name_partners], [ID_Type_partners], [FamilDr], [NameDr], [OtchestvoDr], [Email], [Phone], [Partner_egal_address], [INN], [Rating]) VALUES (2, N'Самоделка', 1, N'Мельников ', N'Максим ', N'Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3)
INSERT [dbo].[Partners$] ([ID], [Name_partners], [ID_Type_partners], [FamilDr], [NameDr], [OtchestvoDr], [Email], [Phone], [Partner_egal_address], [INN], [Rating]) VALUES (3, N'Деревянные изделия', 2, N'Лазарев ', N'Алексей ', N'Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4)
SET IDENTITY_INSERT [dbo].[Partners$] OFF
GO
SET IDENTITY_INSERT [dbo].[Products$] ON 

INSERT [dbo].[Products$] ([ID], [Name_products], [ID_Type_products], [Article], [Minimum_cost_partner]) VALUES (1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 1, 6549922, 5100)
INSERT [dbo].[Products$] ([ID], [Name_products], [ID_Type_products], [Article], [Minimum_cost_partner]) VALUES (2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 2, 7018556, 1880)
INSERT [dbo].[Products$] ([ID], [Name_products], [ID_Type_products], [Article], [Minimum_cost_partner]) VALUES (3, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 3, 5028272, 2080)
SET IDENTITY_INSERT [dbo].[Products$] OFF
GO
SET IDENTITY_INSERT [dbo].[Products_Application] ON 

INSERT [dbo].[Products_Application] ([ID], [ID_partner_request], [ID_products], [Number_products]) VALUES (1, 1, 4, 2000)
INSERT [dbo].[Products_Application] ([ID], [ID_partner_request], [ID_products], [Number_products]) VALUES (3, 3, 1, 1000)
INSERT [dbo].[Products_Application] ([ID], [ID_partner_request], [ID_products], [Number_products]) VALUES (5, 4, 3, 9500)
SET IDENTITY_INSERT [dbo].[Products_Application] OFF
GO
SET IDENTITY_INSERT [dbo].[Provider] ON 

INSERT [dbo].[Provider] ([ID], [Name_provider], [INN], [ID_type_provider]) VALUES (1, N'Залив на Амуре', 74589632144, 1)
INSERT [dbo].[Provider] ([ID], [Name_provider], [INN], [ID_type_provider]) VALUES (2, N'Петушки', 78541236987, 2)
INSERT [dbo].[Provider] ([ID], [Name_provider], [INN], [ID_type_provider]) VALUES (3, N'Солнце', 96321458713, 3)
SET IDENTITY_INSERT [dbo].[Provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_partners$] ON 

INSERT [dbo].[Type_partners$] ([ID], [Type]) VALUES (1, N'ЗАО')
INSERT [dbo].[Type_partners$] ([ID], [Type]) VALUES (2, N'ООО')
INSERT [dbo].[Type_partners$] ([ID], [Type]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Type_partners$] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_products$] ON 

INSERT [dbo].[Type_products$] ([ID], [Type], [Product_type_coefficient]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Type_products$] ([ID], [Type], [Product_type_coefficient]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Type_products$] ([ID], [Type], [Product_type_coefficient]) VALUES (3, N'Фасадные материалы', 5.25)
SET IDENTITY_INSERT [dbo].[Type_products$] OFF
GO
SET IDENTITY_INSERT [dbo].[Type_provider] ON 

INSERT [dbo].[Type_provider] ([ID], [Type]) VALUES (1, N'Новый')
INSERT [dbo].[Type_provider] ([ID], [Type]) VALUES (2, N'Старый')
INSERT [dbo].[Type_provider] ([ID], [Type]) VALUES (3, N'Прибывший')
SET IDENTITY_INSERT [dbo].[Type_provider] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit_measurement] ON 

INSERT [dbo].[Unit_measurement] ([ID], [Unit_measurement_name]) VALUES (1, N'м')
INSERT [dbo].[Unit_measurement] ([ID], [Unit_measurement_name]) VALUES (2, N'л')
INSERT [dbo].[Unit_measurement] ([ID], [Unit_measurement_name]) VALUES (3, N'кг')
SET IDENTITY_INSERT [dbo].[Unit_measurement] OFF
GO
ALTER TABLE [dbo].[Material$]  WITH CHECK ADD  CONSTRAINT [FK_Material$_Material_type$] FOREIGN KEY([ID_material_type])
REFERENCES [dbo].[Material_type$] ([ID])
GO
ALTER TABLE [dbo].[Material$] CHECK CONSTRAINT [FK_Material$_Material_type$]
GO
ALTER TABLE [dbo].[Material$]  WITH CHECK ADD  CONSTRAINT [FK_Material$_Provider] FOREIGN KEY([ID_provider])
REFERENCES [dbo].[Provider] ([ID])
GO
ALTER TABLE [dbo].[Material$] CHECK CONSTRAINT [FK_Material$_Provider]
GO
ALTER TABLE [dbo].[Material$]  WITH CHECK ADD  CONSTRAINT [FK_Material$_Unit_measurement] FOREIGN KEY([ID_unit_measurement])
REFERENCES [dbo].[Unit_measurement] ([ID])
GO
ALTER TABLE [dbo].[Material$] CHECK CONSTRAINT [FK_Material$_Unit_measurement]
GO
ALTER TABLE [dbo].[Partner_products_request$]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request$_Partners$1] FOREIGN KEY([ID_partners])
REFERENCES [dbo].[Partners$] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_request$] CHECK CONSTRAINT [FK_Partner_products_request$_Partners$1]
GO
ALTER TABLE [dbo].[Partners$]  WITH CHECK ADD  CONSTRAINT [FK_Partners$_Type_partners$] FOREIGN KEY([ID_Type_partners])
REFERENCES [dbo].[Type_partners$] ([ID])
GO
ALTER TABLE [dbo].[Partners$] CHECK CONSTRAINT [FK_Partners$_Type_partners$]
GO
ALTER TABLE [dbo].[Products$]  WITH CHECK ADD  CONSTRAINT [FK_Products$_Type_products$] FOREIGN KEY([ID_Type_products])
REFERENCES [dbo].[Type_products$] ([ID])
GO
ALTER TABLE [dbo].[Products$] CHECK CONSTRAINT [FK_Products$_Type_products$]
GO
ALTER TABLE [dbo].[Products_Application]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIn_Application_Partner_products_request$] FOREIGN KEY([ID_partner_request])
REFERENCES [dbo].[Partner_products_request$] ([ID])
GO
ALTER TABLE [dbo].[Products_Application] CHECK CONSTRAINT [FK_ProductsIn_Application_Partner_products_request$]
GO
ALTER TABLE [dbo].[Products_Application]  WITH CHECK ADD  CONSTRAINT [FK_ProductsIn_Application_Products$] FOREIGN KEY([ID_products])
REFERENCES [dbo].[Products$] ([ID])
GO
ALTER TABLE [dbo].[Products_Application] CHECK CONSTRAINT [FK_ProductsIn_Application_Products$]
GO
ALTER TABLE [dbo].[Products_in_materials]  WITH CHECK ADD  CONSTRAINT [FK_Products_in_materials_Material$] FOREIGN KEY([ID_material])
REFERENCES [dbo].[Material$] ([ID])
GO
ALTER TABLE [dbo].[Products_in_materials] CHECK CONSTRAINT [FK_Products_in_materials_Material$]
GO
ALTER TABLE [dbo].[Products_in_materials]  WITH CHECK ADD  CONSTRAINT [FK_Products_in_materials_Products$] FOREIGN KEY([ID_products])
REFERENCES [dbo].[Products$] ([ID])
GO
ALTER TABLE [dbo].[Products_in_materials] CHECK CONSTRAINT [FK_Products_in_materials_Products$]
GO
ALTER TABLE [dbo].[Provider]  WITH CHECK ADD  CONSTRAINT [FK_Provider_Type_provider] FOREIGN KEY([ID_type_provider])
REFERENCES [dbo].[Type_provider] ([ID])
GO
ALTER TABLE [dbo].[Provider] CHECK CONSTRAINT [FK_Provider_Type_provider]
GO
USE [master]
GO
